body {
    background-image: url(school.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    background-color: rgba(240, 248, 240, 0.95); 
    border: 2px solid #6fbf73; 
    border-radius: 12px;

    width: 70%;
    max-width: 500px;

    padding: 25px;
    text-align: center;
}

button {
    margin: 5px;
}